@font-face {
    font-family: "Lato-Bold";
    src: url("C:\\Users\\Megabit\\Desktop\\web\\2022\\20 Online learn\\fonts\\Lato-Bold.woff2"), 
    url("C:\\Users\\Megabit\\Desktop\\web\\2022\\20 Online learn\\fonts\\Lato-Bold.woff");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Lato-Regular";
    src: url("..\\fonts\\Lato-Regular.woff2"), 
    url("..\\fonts\\Lato-Regular.woff");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "LibreBaskerville-Regular";
    src: url("..\\fonts\\LibreBaskerville-Regular.woff2"), url("..\\fonts\\LibreBaskerville-Regular.woff");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}